body {
    width: 100%;
    height: auto;
    background-color: rgb(88, 50, 14);
    text-align: center;
    background-image: url('../img/wood.jpg');   
}

h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 46, 14);
}


h1 {
    font-size: 4rem;
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    padding-bottom: 3rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

#masthead img {
    height: auto;
    max-width: 250px;
    padding-top: 8rem;
}

#footer img {
    padding: 1rem;
    width: 1.5rem;
    height: auto;
}

#input-boxes input[type=text] {
    width: 65%;
    height: 50px;
    background-color: #fff;
    border: 2px solid #6495ED;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}


#btn {
    width: 65.5%;
    height: 50px;
    background-color: #6495ED;
    border: 2px solid #6495ED;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}


  /* Tablets and Desktop Screens */
@media only screen and (min-width: 35rem) {

  h1 {
    font-size: 7rem;
  }
  
  h3 {
    font-size: 2.5rem;
  }
  img {
    max-width: 200%;
  }
}
